::placeholder {
  color: $focus;
}
body {
  border: 5px solid $primary;
  border-top: 6rem solid $primary;
}
.create-flower {
  color: $primary;
  &__form {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  &__submit {
    padding: 1.4rem;
    background-color: #fff;
    border: 1px solid $primary;
    color: #abb3cd;
    font-size: 1.8rem;
    &:focus {
      border: 1px solid $focus;
      outline-color: $focus;
    }
  }
}
.form__controls {
  input {
    color: $primary;
    border: 1px solid $primary;
    padding: 0.5rem;
    width: 100%;
    font-size: 1.6rem;
    &:focus {
      border: 1px solid $focus;
      outline-color: $focus;
      color: $focus;
    }
  }
}

.form__group {
  padding: 3rem 2rem;
  position: relative;
  &-title {
    font-size: 3rem;
  }
  &--error {
    color: $danger;
    font-size: 1.2rem;
    position: absolute;
    left: 2rem;
    bottom: 1rem;
  }
}

.form__controls {
  &--select {
    color: $focus;
    width: 100%;
    background: none;
    border: 1px solid $primary;
    padding: 0.5rem;
    font-size: 1.4rem;
    &:focus {
      border: 1px solid $focus;
      outline-color: $focus;
      color: $focus;
    }
  }
}
.input-range {
  padding: 2rem 0;
  &__label-container {
    font-size: 1.5rem;
    bottom: 1.4rem;
  }
  &__label {
    word-wrap: unset;
    &--min,
    &--max {
      bottom: -2rem;
    }
  }
  &__slider {
    height: 2rem;
    width: 2rem;
    margin-top: -1.3rem;
  }
}
