@import '../../styles/abstracts/variables';
@import '../../styles/base/animations';

.confirm {
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  padding: 10px;
  animation: expand 0.3s ease-in-out;
  .confirm-modal {
    text-align: center;
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 90%;
    min-height: 150px;
    padding: 10px;

    &__title {
      margin: 0;
    }
    &__btns {
      display: flex;
    }
  }
}

.confirm-remove,
.reject-remove {
  background-clip: unset;
  border: none;
  margin: 10px;
}

@keyframes expand {
  from {
    transform: scale(0);
    opacity: 0;
    background: $white;
  }
}
