@import "../../../styles/abstracts/variables";

.authorization {
  position: relative;
  max-width: 360px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Roboto', sans-serif;

  &__helper {
    margin-top: 10px;
    font-size: 0.9rem;
  }

}

.link--log-in {
  margin-left: 10px;
}

.error-message {
  text-align: center;
  position: absolute;
  bottom: 67px;
  left: 50%;
  transform: translateX(-50%);
  color: $danger;
}
