@import "../../../styles/abstracts/variables";

.authorization {
  max-width: 360px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Roboto', sans-serif;

  &__helper {
    margin-top: 10px;
    font-size: 0.9rem;
  }

}

.link--log-in {
  margin-left: 10px;
}
