@import "../../../styles/abstracts/variables";

.authorization {
  max-width: 360px;
  margin: 0 auto;
  padding: 100px 20px;
  font-family: 'Roboto', sans-serif;

  &__title {
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
  }

  &__helper {
    margin-top: 10px;
    font-size: 0.9rem;
  }

}

.link--log-in {
  margin-left: 10px;
}
