@import '../../styles/abstracts/variables';

.dashboard--page {
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
}

.empty-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 40px;
  }

  &--create {
    width: 90%;
  }
}

.dashboard {
  padding: 0 20px;
  display: flex;
  flex-direction: column;

  &__search {
    display: flex;
    flex-direction: column;

    &--field {
      border: 1px solid $silver;
      border-radius: 3px;
      background-color: $silver;
      opacity: 0.5;
      height: 30px;
      padding: 5px;
      margin: 5px 0;
    }
  }

  &__link {
    text-decoration: none;
    color: #13ea6e;
    font-size: 0.8rem;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    text-align: right;
    padding: 10px 0;
  }

  &--sorting {
    display: flex;
    flex-direction: column;
    padding: 10px 0;

    &--alphabetical,
    &--problematical {
      font-size: 0.7rem;
    }

    &__button {
      border: none;
      border-radius: 5px;
      padding: 10px 10px;
      margin: 10px 0;
      align-self: flex-start;
      background: transparent;
      color: #ffffff;
      cursor: pointer;
      outline: none;
      position: relative;

      .icon {
        max-width: 10px;

        &:hover {
          background: none;
        }
        &:active {
          background: none;
        }
      }
    }
  }
}

.dashboard--thumbnail {
  box-sizing: border-box;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__item {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 10px 0;
    border-radius: 3px;
    padding: 20px;
  }
}

.dashboard--flower-list {
  box-sizing: border-box;
  padding: 20px;
}
