@import '../../styles/abstracts/variables';

.btn--primary.btn {
  font-weight: bold;
}

.create-flower {
  color: $authorizationLabel;
  padding: 0 20px;
  &__form {
    display: flex;
    flex-direction: column;
  }
}

.form__group {
  padding: 40px 0;
  position: relative;
  &-title {
    font-size: 20px;
    font-weight: 600;
    color: $black;
  }
  &-description {
    color: $description;
  }
  &--error {
    color: $danger;
    position: absolute;
  }
}

.form__controls {
  max-width: 95%;
  margin: 0 auto;
}

.button__cancel {
  margin: 10px;
  padding: 10px;
  width: 100%;
  margin: 10px auto;
  background: transparent;
  border: none;
  text-transform: uppercase;
  color: $cancel-btn;
  font-weight: 900;
  &:focus,
  &:active {
    outline: none;
  }
}
.btn--delete.btn.delete-flower {
  margin-top: 20px;
  background-clip: unset;
  border: none;
}

@media screen and (min-width: 768px) {
  .create-flower {
    max-width: 50%;
    margin: 0 auto;
  }
  .form__group {
    border-bottom: 1px solid $silver;
  }
  .form__controls {
    max-width: 100%;
  }
}
