@import '../../styles/abstracts/variables';

.create-flower {
  color: $primary;
  padding: 50px;
  &__form {
    display: flex;
    flex-direction: column;
  }
}

.form__group {
  padding: 40px 0;
  position: relative;
  &-title {
    font-size: 2rem;
  }
  &--error {
    color: $danger;
    position: absolute;
  }
}
