$primary: #46a25f;
$focus: #15d94a;
$danger: #d32f2f;
$body-bg: #fff;
$white: #fff;
$silver: #d0d0d0;
$authorizationLabel: #333333;
$linkColor: #235ef5;
$input-placeholder: #b4b4b4;
$input-bg: #f6f6f6;
$description: #666666;
$cancel-btn: #797979;
$black: #000;

// CHARTS
$waterChartGradientStart: #C8D7FF;
$waterChartGradientEnd: rgba(99, 161, 255, 0);
$waterChartStrokeColor: #6D8DFF;
$waterChartDotColor: #235EF5;

$lightChartGradientStart: #FFCA63;
$lightChartGradientEnd: #FFFFFF;
$lightChartStrokeColor: #FFCA63;
$lightChartDotColor: #FFCA63;

$airChartGradientStart: #AEFFEC;
$airChartGradientEnd: #FFFFFF;
$airChartStrokeColor: #15E9A6;
$airChartDotColor: #15E9A6;

$ticksColor: #979EA6;
$soil-water: #63a1ff;
$light: #ffca63;
$temperature: #46dc00;
$humidity: #a586ff;

$connect-error: #ff5a5a;
