$primary: #46a25f;
$focus: #15d94a;
$danger: #d32f2f;
$body-bg: #fff;
$white: #fff;
$silver: #d0d0d0;
$authorizationLabel: #333333;
$linkColor: #235ef5;
$input-placeholder: #b4b4b4;
$input-bg: #f6f6f6;
$description: #666666;
$cancel-btn: #797979;
$black: #000;
$font-black: #333;
$landing-header: #00d85b;
$chartWarningText: rgb(247, 213, 22);

// CHARTS
$waterChartGradientStart: #c8d7ff;
$waterChartGradientEnd: rgba(99, 161, 255, 0);
$waterChartStrokeColor: #6d8dff;
$waterChartDotColor: #235ef5;

$temperatureChartGradientStart: #ffca63;
$temperatureChartGradientEnd: #ffffff;
$temperatureChartStrokeColor: #ffca63;
$temperatureChartDotColor: #ffca63;

$airChartGradientStart: #aeffec;
$airChartGradientEnd: #ffffff;
$airChartStrokeColor: #15e9a6;
$airChartDotColor: #15e9a6;

$ticksColor: #979ea6;
$soil-water: #63a1ff;
$light: #ffca63;
$temperature: #46dc00;
$humidity: #a586ff;

$connect-error: #ff5a5a;
$edit-btn: #13ea6e;
