@import '../../styles/abstracts/variables';

.custom-select {
  padding: 10px 0;
  .title {
    cursor: pointer;
  }
  &__field {
    padding: 10px 20px;
    background: $input-bg;
    border-radius: 5px;
  }
  &__options {
    background-color: $white;
    position: absolute;
    left: 0;
    z-index: 3;
    width: 100%;
    border: 1px;
    border-top: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    &--option {
      display: flex;
      align-items: center;
      padding: 0 25px;
      cursor: pointer;
      &:hover {
        background-color: #f6f6f6;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $input-bg;
      }
    }

    &--params {
      font-size: 25px;
      .flower-param {
        padding: 20px 0;
      }
    }
    &--image {
      max-width: 15%;
      margin-left: auto;
      .flower-image {
        max-width: 100%;
      }
    }
  }
  &__placeholder {
    font-size: 14px;
    color: $input-placeholder;
    display: flex;
    cursor: pointer;
    &--arrow {
      float: right;
      color: $cancel-btn;
      margin-left: auto;
    }
  }
}
