.authorization {
  max-width: 300px;
  margin: 0 auto;
  padding: 80px 40px;
  font-family: 'Nunito Sans', sans-serif;
}

.authorization__title {
  font-size: 2.5rem;
}

.form-control__label {
  display: none;
}
