@import '../../styles/abstracts/variables';

.thumbnail {
  padding: 20px;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 360px;
  position: relative;

  &--flower {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__name {
    margin: 0;
    color: #333333;
  }
  &__type {
    margin: 5px 0;
  }
}

.plant--info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  max-width: 360px;
}

.ranges {
  width: 100%;

  .percentage {
    font-size: 0.5rem;
    padding-left: 5px;
  }

  &__title {
    font-size: 0.5rem;
  }

  .range {
    display: flex;
    align-items: center;

    &--fill {
      height: 3px;
      border-radius: 4px;
    }

    &--temperature__fill {
      background-color: $temperature;
    }

    &--humidity__fill {
      background-color: $humidity;
    }

    &--light__fill {
      background-color: $light;
    }

    &--soil__fill {
      background-color: $soil-water;
    }
  }
}

.plant__avatar {
  max-width: 150px;
  max-height: 150px;
}

.details {
  text-decoration: none;
  color: #235ef5;
  font-size: 0.7rem;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
