.thumbnail {
  padding: 20px;
  font-family: Roboto, sans-serif;
  color: #666666;

  &--flower {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__name {
    margin: 0;
    color: #333333;
  }
  &__type {
    margin: 5px 0;
  }
}

.plant--info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  max-width: 360px;
}

.ranges {
  width: 100%;

  .percentage {
    font-size: 0.5rem;
  }

  &__title {
    font-size: 0.5rem;
  }

  .range {
    height: 3px;
    margin: 5px 0;
    display: flex;

    &--temperature__fill {
      background-color: #ff0000;
    }

    &--humidity__fill {
      background-color: #20b2aa;
    }

    &--light__fill {
      background-color: #ffff00;
    }

    &--soil__fill {
      background-color: #b3ffff;
    }
  }
}

.plant__avatar {
  max-width: 150px;
  max-height: 150px;
}

.details {
  text-decoration: none;
  color: #235ef5;
  font-size: 0.7rem;
  cursor: pointer;
}
