@import '../../styles/abstracts/variables';

.thumbnail {
  padding: 20px;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 360px;
  position: relative;

  &--flower {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__type {
    font-size: 12px;
  }
}
.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  &__name {
    margin: 0;
    color: $font-black;
    width: 90%;
  }
  &__icon {
    font-size: 24px;
    color: $connect-error;
  }
}

.plant--info {
  display: flex;
  flex-direction: row-reverse;
  margin: 20px 0;
}

.ranges {
  width: 100%;

  .percentage {
    font-size: 12px;
    padding-left: 5px;
  }

  &__title {
    font-size: 12px;
  }

  .range {
    display: flex;
    align-items: center;

    &--fill {
      height: 5px;
      border-radius: 5px;
    }

    &--temperature__fill {
      background-color: $temperature;
    }

    &--humidity__fill {
      background-color: $humidity;
    }

    &--light__fill {
      background-color: $light;
    }

    &--soil__fill {
      background-color: $soil-water;
    }
  }
}

.plant__avatar {
  max-width: 150px;
  max-height: 150px;
}

.details {
  text-decoration: none;
  color: $linkColor;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  margin: 10px 0;
  font-size: 14px;
}
