@import "../../../styles/abstracts/variables";

.btn {
  width: 100%;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
}

.btn--primary {
  background: linear-gradient(90deg, $primary -3.17%, $focus 100%);
  color: #fff;
}

.btn--primary:disabled {
  background: lighten($primary, 20%);
}

.btn--secondary {
  border: solid 2px transparent;
  position: relative;
  background: #fff;
  background-clip: padding-box;
  box-sizing: border-box;
  border-radius: 5px;
  color: #000;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: 5px;
    background: linear-gradient(90deg, $primary -3.17%, $focus 100%);
  }
}
