@import '../../styles/abstracts/variables';

.header {
  min-height: 60px;
  background-image: linear-gradient(to right, $primary, $focus);
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  &__title {
    order: 2;
    width: 100%;
    text-align: center;
    align-self: center;
    color: $white;
  }
}
