@import '../../styles/abstracts/variables';

.flower-details {
  font-family: 'Roboto', sans-serif;
  padding: 0 20px;
}
.flower-details {
  &__main {
    &--thumbnail {
      margin: 0;
      .thumb {
        max-width: 100%;
      }
    }
    &--connection-status {
      color: $connect-error;
      font-size: 12px;
    }
  }
  &__information__info {
    &--type,
    &--birth {
      font-weight: bold;
      margin-right: 10px;
      font-size: 14px;
    }
    &--totaldays {
      color: $cancel-btn;
    }
  }
  &__scales {
    &--title {
      margin-bottom: 10px;
      margin-top: 50px;
    }
  }
}

.scales {
  font-size: 12px;
  color: #333333;

  &__tooltip {
    padding: 5px 0;
    display: block;
  }

  &__scales-block {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &--value {
      margin-left: 10px;
    }
    &--soil {
      background-color: $soil-water;
      height: 5px;
      border-radius: 10px;
      transition: width 0.5s;
    }
    &--airhumidity {
      background-color: $humidity;
      height: 5px;
      border-radius: 10px;
      transition: width 0.5s;
    }
    &--temperature {
      background-color: $temperature;
      height: 5px;
      border-radius: 10px;
      transition: width 0.5s;
    }
    &--light {
      background-color: $light;
      height: 5px;
      border-radius: 10px;
      transition: width 0.5s;
    }
  }
}
