@import '../../../styles/abstracts/variables';

.form-control {
  position: relative;
  margin-bottom: 25px;
}

.form-control__input {
  width: 100%;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #333;
  background: $input-bg;
  border-radius: 5px;
}

.form-control__input::placeholder {
  font-size: 0.9rem;
  color: $input-placeholder;
}

.form-control__label {
  font-size: 0.9rem;
  color: $authorizationLabel;
  font-weight: bold;
}

.form-control__error {
  position: absolute;
  top: 100%;
  left: 0;
  color: $danger;
  text-align: center;
}

.form-control__input--error {
  border-bottom: 1.5px solid $danger;
}
