@import '../../styles/abstracts/variables';

.input-range {
  padding: 40px 0;
  &__label {
    white-space: unset;
    &--min,
    &--max {
      display: none;
    }
    &--value {
      top: -40px;
    }
  }
  &__slider {
    height: 15px;
    width: 15px;
    margin-top: -10px;
    background-color: $linkColor;
    border: 1px solid $linkColor;
  }
  &__track {
    &--active {
      background: $linkColor;
    }
  }
  &__label-container {
    color: $authorizationLabel;
    bottom: 14px;
    font-size: 18px;
  }
}
.tooltip {
  display: flex;
  flex-direction: column;
  &__unit {
    font-size: 13px;
  }
}
