@import '../../styles/abstracts/variables';
@import '../../styles/base/animations';

.with-overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 60px;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  animation: expand 0.3s ease-in-out;
}

.burger {
  height: 30px;
  display: inline-block;
  align-self: center;
  margin: 0 15px;
  position: absolute;
  cursor: pointer;
  &__icon {
    position: relative;
    &,
    &::before,
    &::after {
      width: 32px;
      height: 2px;
      background-color: $white;
      display: inline-block;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }
    &::before {
      top: -10px;
    }
    &::after {
      top: 10px;
    }
  }
}
.burger--active {
  .burger__icon {
    background-color: transparent;
  }
  .burger__icon:before {
    transform: rotate(135deg);
    top: 0;
  }
  .burger__icon::after {
    transform: rotate(-135deg);
    top: 0;
  }
}

.navigation {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 10;
  background-color: $white;
  height: 100%;
  width: 0;
  overflow-x: hidden;
  font-size: 0;
  transition: width 0.3s;
  &--active {
    width: 250px;
    font-size: 20px;
    padding: 50px 30px;
    &__title {
      margin-bottom: 0;
    }
    animation-name: slideInLeft;
    animation-duration: 0.5s;
  }

  &__links {
    display: flex;
    flex-direction: column;
    order: 2;
    padding: 0;
    list-style: none;
    &--link {
      &.static {
        margin-top: 30px;
      }
      white-space: nowrap;
      color: $authorizationLabel;
      text-decoration: none;
      margin: 10px 0;
      cursor: pointer;
    }
  }
  &--close {
    margin-left: auto;
    padding: 10px;
    font-size: 25px;
    font-weight: 900;
    cursor: pointer;
    color: $white;
  }
}
