@import '../../styles/abstracts/variables';

.burger {
  height: 30px;
  display: inline-block;
  align-self: center;
  margin: 0 15px;
  position: absolute;
  cursor: pointer;
  &__icon {
    position: relative;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $white;
      display: inline-block;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }
}
.burger--active {
  .burger__icon {
    background-color: transparent;
  }
  .burger__icon:before {
    transform: rotate(135deg);
    top: 0;
  }
  .burger__icon::after {
    transform: rotate(-135deg);
    top: 0;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 10;
  background-color: $white;
  height: 100%;
  width: 0;
  overflow-x: hidden;
  font-size: 0;
  transition: all 0.4s;
  &--active {
    width: 250px;
    font-size: 20px;
  }
  &__links {
    display: flex;
    flex-direction: column;
    order: 2;
    padding: 50px 30px;
    list-style: none;
    &--link {
      color: $authorizationLabel;
      text-decoration: none;
      margin: 10px 0;
      cursor: pointer;
    }
  }
  &--close {
    margin-left: auto;
    padding: 10px;
    font-size: 25px;
    font-weight: 900;
    cursor: pointer;
    color: $white;
  }
}
