@import "../../../styles/abstracts/variables";

.sign-up-success {
  max-width: 360px;
  margin: 0 auto;
  padding: 100px 20px;
  font-family: 'Roboto', sans-serif;

  &__title {
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 40px;
  }

  &__description {
    text-align: center;
    font-size: 0.9rem;
  }
}
