*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

input {
  border: none;
  outline: none;
}

body {
  background-color: $body-bg;
  margin: 0;
}

.arrow-back {
  font-size: 2.5rem;
  cursor: pointer;
}


