*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

input {
  border: none;
  outline: none;
}

.arrow-back {
  font-size: 2.5rem;
  cursor: pointer;
}

.authorization {
  max-width: 300px;
  margin: 0 auto;
  padding: 80px 40px;
  font-family: 'Nunito Sans', sans-serif;
}

.authorization__title {
  font-size: 2.5rem;
}
